<style>

.required-field {
  background-color: #F1FAC0;
}
/*St marks stuff*/

.statbox {
  background-color: #fff;
    box-shadow: 0 2px 1px -1px gray;
    padding-right: 10px;
    margin-right: 10px;
    height: 100px;
}


.card {
  margin: 20px;
  background: #FFF;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius:10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  /*border: solid;
  border-width: thin;*/
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}



.card-footer {
    height: 30px;
    text-align: center;
    color: white;
    padding-top: 8px;
    background: #426FA8;
  }

  a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
}




.card-block {
  margin: 10px;
  padding: 10px;
  margin-bottom: -30px;
}

.card-block table {
  margin-bottom: 5px;


}

.card-header {
  border-bottom: 2px solid #eee;
  margin-bottom: 5px;
  height: 90px;
}

.card-block img {
  text-align:center;
  margin-right: 25px;
  height: 80px;
  width: 80px;
  border-radius: 38px;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;

}

.card-button {
  margin-bottom: 5px;
}

.form-block {
  /*text-align: center;*/
   width:80%;
   padding:30px;
   margin:40px auto;
   background: #FFF;
   border-radius: 10px;
   -webkit-border-radius:10px;
   -moz-border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
   -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
   -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.form-block > form-control {
  margin-bottom: 5px;
}

.form-inner-wrap{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;

}

.form-inner-wrap label {
  margin-top: 5px;
}

.banner-div {
    background: white;
    box-shadow: 0 4px 2px -2px gray;
    padding: 10px;
    height: 50px;
    font-size: 22px;
    width:100%;
  }

.datatable-list {
  padding: 15px;
}

.datatable-list table {
  background: white;
}

.datatable-list th {
  background: #426FA8;
}

/*end stmarks stuff*/






.containerBox {
    position: relative;
    display: inline-block;
}
.text-box {
    position: absolute;
    /*height: 100%;*/
    text-align: center;
    /*width: 100%;*/
    width: 80%;
    padding-left: 28px;
}
.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.text-boxnext {
    position: absolute;
    /*height: 100%;*/
    text-align: center;
    /*width: 100%;*/
    width: 80%;
    padding-left: 75px;
}
.text-boxnext:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

.text-boxnext  a {
  color: white;
}

.text-box  a {
  color: white;
}
/*h4 {
   display: inline-block;
   font-size: 20px; /*or whatever you want*/
   /*color: #FFF;
}*/
.containerBox img {
  display: block;
  width: 300px;
  height: auto;
}

.heading,
h1 {
  font-family: "Open Sans";
  font-size: 20.57px;
  font-weight: 600;
  color: #353535;
  letter-spacing: 0;
}

.subheading, h2{
  font-family: "Open Sans";
  font-size: 17.14px;
  font-weight: 600;
  color: #343434;
  letter-spacing: 1.22px;
}

.home-header {
  /*background-color: #426FA8;*/

  /*color: #F9F9F9;*/
  color: #426FA8;
  margin-bottom:10px;
  padding: 10px;
  padding-left: 15px;
  padding-top: 0px;
  border-radius: 10px;
  height:auto;
}

h3{
  color: #426FA8;
  font-family: "Open Sans";
  font-size: 17.14px;
  font-weight: 600;
  letter-spacing: 1.22px;

}

.dt-body-center {
  text-align: center;
}

.panel-head {
  color: #426FA8;
   /*color: white;*/
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.22px;
  padding:10px;
  /*background-color: #19A1EF;*/
  background-color: #D2DDE9;
}

.long {
  width: 100%;
}

.button-text,
button, .btn{
  font-family: "Open Sans";
  font-size: 13.71px;
  font-weight: bold;
  color: #343434;
  letter-spacing: 0.98px;
}

.btn-action, .btn-action:hover, .btn-action:hover:disabled {
  /*background-color: #9B9B9B; or buttonface*/
  background-color: #D2DDE9;
}

.btn-success {
  color: white;
  text-shadow: none;
}
.btn-default {
  background-color: #D2DDE9;
}

.btn-big {
  width: 140px;
  height: 100px;
  text-align: center;
  border-color: #9B9B9B;
  padding-top: 15px;

}

.btn-pic {
  width: 110px;
  height: 30px;
  text-align: center;
  font-size: 11px;
  margin-top: 3px;

}

.btn-big:hover .btn-xm:hover{
  background-color: #F9F9F9;
}
.center-buttons {
  text-align: center;
}

.btn-wizard {
  width: 120px;

}

.wrapper {
  /*min-height: 100%;*/
  /*position: relative;
  width: 100%;*/
  /*overflow: auto;*/
}

.container {
  padding-top: 15px;
   min-height: 100%;
}

body {
  font-family: "Open Sans";
  font-size: 13.71px;
  color: #343434;
  letter-spacing: 0.98px;
  background: #EFEFEF;
}

html, body {
  height: 94% !important;
}

header {
  background-color: #353535;
}



.navbar {
  height: 70px;
  margin-bottom: 0px;
  background-color: : #fff;
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid #004661;

}

hr {
  border: 1;
  clear:both;
  display:block;
  width: 96%;
  background-color:#dadada;
  height: 1px;
}

.info-panel {
  /*background-color: #9B9B9B;*/
  background-color: #426FA8;
  padding: 15px;
  /*color: #F9F9F9; */
  color: white;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
}


.main {
  overflow: visible; /* changed from auto to get select dropdown on club registration to display */

  background-color: #EFEFEF;
  padding: 0px 0px 30px 0px;
}

.span-inline {
  color: red;
}

footer {
  position: relative;
  /*margin-top: -20px; /* negative value of footer height */*/
  height: 20px;
  clear: both;
}

.footer-main {
  padding-left: 120px;
  padding-top: 10px;
  /*background-color: #426FA8;*/
  color: white;
  height: 70px;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/footerbar.png');
}

.footer-sub {
  padding-left: 120px;
  padding-top: 10px;
  background-color: #4A4A4A;
  color: white;
  height: 45px;
}


th {
  background-color: #9B9B9B;
  color: white;
}

.form-group .form-control {
	margin-bottom: 5px;

}









/* These next three are to get map autocomplete results in modal */
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
}
.modal-backdrop{
    z-index: 10;
}​
/**/


/* Navigation tabs  */

#exTab3 .nav-pills > li > a {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;



}

#exTab3 .tab-content {
  /*color : white;*/
  /*background-color: #428bca;*/
  padding : 5px 15px;
}

/*end navigation tabs*/


.section1 {
  margin: 10px;
float:left;
}

.section2 {
float:left;
clear: left;
margin-left:15px;
margin-top: 20px;
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}




/* sidebar css */
/* http://blog.codeply.com/2016/05/18/bootstrap-sidebar-responsive-examples/*/
.wrapper, .wraprow {
  /*height: 100% !important;*/
  /*height: inherit;*/
   min-height: 100% !important;
   margin-left:0;
   margin-right:0;
   overflow: hidden;
   width: 100%;
   position: relative;
   margin-bottom: 20px;
   /*height: 100%;*/
}

.wraprow {
  /*min-height: 100%;*/
  height: 100%;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
  /*background-color: #eee;*/
  background-color: #fff;
    padding-left: 5px;
    /*float: left;*/
    /*min-height: 100%;*/
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: #004661;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
    color: #004661;
}

#sidebar a:hover {
    background-color: inherit; /* Dark grey background on mouse-over */
    border-left: 5px solid #426FA8;;
}

/*#sidebar >.nav>li>ul {
  padding-left: 15px;
}*/



#main {
    /*padding: 15px;*/
    left: 0;
    padding-left:0px;
    padding-right:0px;
    margin: 0;
    float: right;
    min-height: 100%;
    overflow: auto;

}

.reg-table {
  font-family: "Open Sans";
  font-size: 14px;
}

/* -------------------------*/
table.dataTable tbody tr.selected{
  background-color:#B0BED9}


/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 992px) {
    #sidebar {
        min-width: 44px;
        min-height:100%;
    }

    #main {
        width: 90%;
        left: 0;

    }

    #sidebar .visible-xs {
       display:inline !important;
    }

    .row-offcanvas {
       /*position: relative;*/
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
       min-height:100%;
    }

    .row-offcanvas-left.active {
       left: 45%;
    }

    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
}


@media screen and (min-width: 992px) {
  .row-offcanvas {
    /*position: relative;*/
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    min-height:100%;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }

  #main {
    left: 0;
  }
}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0px;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnumon {color: black; font-weight: 800; font-size: 14px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnumoff {color: #dde; font-size: 14px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar2 {width:0px; box-shadow: none; background: #f5f5f5;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #aaa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}

/*.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot {background-color: #dfffdf;} green
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot:after {background-color: #9fff3f}*/
/*.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot {background-color: #19a1ef;}
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot:after {background-color: #426fa8}*/

/*.bs-wizard > .bs-wizard-step.draft > .bs-wizard-dot {background-color: #fbbd19;}
.bs-wizard > .bs-wizard-step.draft > .bs-wizard-dot:after {background-color: #fbe8aa}
.bs-wizard > .bs-wizard-step.ready > .bs-wizard-dot {background-color: lightblue;}
.bs-wizard > .bs-wizard-step.ready > .bs-wizard-dot:after {background-color: blue}
.bs-wizard > .bs-wizard-step.complete.ready > .bs-wizard-dot {background-color: blue;}
.bs-wizard > .bs-wizard-step.complete.ready > .bs-wizard-dot:after {background-color: lightblue;}
.bs-wizard > .bs-wizard-step.publish > .bs-wizard-dot {background-color: green;}
.bs-wizard > .bs-wizard-step.publish > .bs-wizard-dot:after {background-color: lightgreen;}
.bs-wizard > .bs-wizard-step.notpublish > .bs-wizard-dot {background-color: red;}
.bs-wizard > .bs-wizard-step.notpublish > .bs-wizard-dot:after {background-color: pink;}*/
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot {background-color: #fbbd19;}
.bs-wizard > .bs-wizard-step.active > .bs-wizard-dot:after {background-color: #fbe8aa}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .bs-wizard-step.active a.bs-wizard-dot{ pointer-events: none; }
.bs-wizard > .bs-wizard-step.active .bs-wizard-info {color: #fbbd19; font-weight: bold; font-size: 16px; text-shadow: 2px 2px 5px #fbe8aa;}



</style>
