<style>

.required-field {
  background-color: #F1FAC0;
}
/*St marks stuff*/

.card {
  margin: 20px;
  background: #FFF;
  border-radius: 10px 10px 0px 0px;
  -webkit-border-radius:10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  /*border: solid;
  border-width: thin;*/
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
}



.card-footer {
    height: 30px;
    text-align: center;
    color: white;
    padding-top: 8px;
    background: #426FA8;
  }

  a.fill-div {
    display: block;
    height: 100%;
    width: 100%;
    color: white;
    text-decoration: none;
}




.card-block {
  margin: 10px;
  padding: 10px;
  margin-bottom: -30px;
}

.card-block table {
  margin-bottom: 5px;


}

.card-header {
  border-bottom: 2px solid #eee;
  margin-bottom: 5px;
  height: 90px;
}

.card-block img {
  text-align:center;
  margin-right: 25px;
  height: 80px;
  width: 80px;
  border-radius: 38px;
  user-drag: none;
  -moz-user-select: none;
  -webkit-user-drag: none;

}

.card-button {
  margin-bottom: 5px;
}

.form-block {
  /*text-align: center;*/
   width:80%;
   padding:30px;
   margin:40px auto;
   background: #FFF;
   border-radius: 10px;
   -webkit-border-radius:10px;
   -moz-border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
   -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
   -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.13);
}

.form-inner-wrap{
    padding: 30px;
    background: #F8F8F8;
    border-radius: 6px;
    margin-bottom: 15px;

}

.form-inner-wrap label {
  margin-top: 5px;
}

.banner-div {
    background: white;
    box-shadow: 0 4px 2px -2px gray;
    padding: 10px;
    height: 50px;
    font-size: 22px;
    width:100%;
  }

.datatable-list {
  padding: 15px;
}

.datatable-list table {
  background: white;
}

.datatable-list th {
  background: #426FA8;
}

/*end stmarks stuff*/






.containerBox {
    position: relative;
    display: inline-block;
}
.text-box {
    position: absolute;
    /*height: 100%;*/
    text-align: center;
    /*width: 100%;*/
    width: 80%;
    padding-left: 28px;
}
.text-box:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}
.text-boxnext {
    position: absolute;
    /*height: 100%;*/
    text-align: center;
    /*width: 100%;*/
    width: 80%;
    padding-left: 75px;
}
.text-boxnext:before {
   content: '';
   display: inline-block;
   height: 100%;
   vertical-align: middle;
}

.text-boxnext  a {
  color: white;
}

.text-box  a {
  color: white;
}
/*h4 {
   display: inline-block;
   font-size: 20px; /*or whatever you want*/
   /*color: #FFF;
}*/
.containerBox img {
  display: block;
  width: 300px;
  height: auto;
}

.heading,
h1 {
  font-family: "Open Sans";
  font-size: 20.57px;
  font-weight: 600;
  color: #353535;
  letter-spacing: 0;
}

.subheading, h2{
  font-family: "Open Sans";
  font-size: 17.14px;
  font-weight: 600;
  color: #343434;
  letter-spacing: 1.22px;
}

.home-header {
  /*background-color: #426FA8;*/

  /*color: #F9F9F9;*/
  color: #426FA8;
  margin-bottom:10px;
  padding: 10px;
  padding-left: 15px;
  padding-top: 0px;
  border-radius: 10px;
  height:auto;
}

h3{
  color: #426FA8;
  font-family: "Open Sans";
  font-size: 17.14px;
  font-weight: 600;
  letter-spacing: 1.22px;

}

.dt-body-center {
  text-align: center;
}

.panel-head {
  color: #426FA8;
   /*color: white;*/
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.22px;
  padding:10px;
  /*background-color: #19A1EF;*/
  background-color: #D2DDE9;
}

.long {
  width: 100%;
}

.button-text,
button, .btn{
  font-family: "Open Sans";
  font-size: 13.71px;
  font-weight: bold;
  color: #343434;
  letter-spacing: 0.98px;
}

.btn-action, .btn-action:hover, .btn-action:hover:disabled {
  /*background-color: #9B9B9B; or buttonface*/
  background-color: #D2DDE9;
}

.btn-success {
  color: white;
  text-shadow: none;
}
.btn-default {
  background-color: #D2DDE9;
}

.btn-big {
  width: 140px;
  height: 100px;
  text-align: center;
  border-color: #9B9B9B;
  padding-top: 15px;

}

.btn-pic {
  width: 110px;
  height: 30px;
  text-align: center;
  font-size: 11px;
  margin-top: 3px;

}

.btn-big:hover .btn-xm:hover{
  background-color: #F9F9F9;
}
.center-buttons {
  text-align: center;
}

.btn-wizard {
  width: 120px;

}

.wrapper {
  /*min-height: 100%;*/
  /*position: relative;
  width: 100%;*/
  /*overflow: auto;*/
}

.container {
  padding-top: 15px;
   min-height: 100%;
}

body {
  font-family: "Open Sans";
  font-size: 13.71px;
  color: #343434;
  letter-spacing: 0.98px;
  background: #fff;
}

html, body {
  height: 94% !important;
}

header {
  background-color: #353535;
}



.navbar {
  height: 70px;
  margin-bottom: 0px;
  background-color: : #fff;
  border: 0px;
  border-radius: 0px;
  border-bottom: 2px solid #004661;

}

hr {
  border: 1;
  clear:both;
  display:block;
  width: 96%;
  background-color:#dadada;
  height: 1px;
}

.info-panel {
  /*background-color: #9B9B9B;*/
  background-color: #426FA8;
  padding: 15px;
  /*color: #F9F9F9; */
  color: white;
  border-radius: 10px;
  margin-bottom: 5px;
  margin-left: 1px;
  margin-right: 1px;
}


.main {
  overflow: visible; /* changed from auto to get select dropdown on club registration to display */

  background-color: #EFEFEF;
  padding: 0px 0px 30px 0px;
}

.span-inline {
  color: red;
}

footer {
  position: relative;
  /*margin-top: -20px; /* negative value of footer height */*/
  height: 20px;
  clear: both;
}

.footer-main {
  padding-left: 120px;
  padding-top: 10px;
  /*background-color: #426FA8;*/
  color: white;
  height: 70px;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../images/footerbar.png');
}

.footer-sub {
  padding-left: 120px;
  padding-top: 10px;
  background-color: #4A4A4A;
  color: white;
  height: 45px;
}


th {
  background-color: #9B9B9B;
  color: white;
}

.form-group .form-control {
	margin-bottom: 5px;

}









/* These next three are to get map autocomplete results in modal */
.pac-container {
    background-color: #FFF;
    z-index: 20;
    position: fixed;
    display: inline-block;
    float: left;
}
.modal{
    z-index: 20;
}
.modal-backdrop{
    z-index: 10;
}​
/**/


/* Navigation tabs  */

#exTab3 .nav-pills > li > a {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;



}

#exTab3 .tab-content {
  /*color : white;*/
  /*background-color: #428bca;*/
  padding : 5px 15px;
}

/*end navigation tabs*/


.section1 {
  margin: 10px;
float:left;
}

.section2 {
float:left;
clear: left;
margin-left:15px;
margin-top: 20px;
}

.isa_warning {
    color: #9F6000;
    background-color: #FEEFB3;
}



/*===SIDEBAR=====*/
.s-layout {
   display: flex;
   width: 100%;
   height:100%;
   min-height: 100vh;
}

.s-layout__content {
   display: flex;
   /*justify-content: center;*/
   /*align-items: center;*/
   flex: 1;
   /*margin-left:50px;
   background-color: pink;
   padding-left:50px;
   height:100%;*/
}

/* Sidebar */
.s-sidebar__trigger {
   z-index: 2;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 4em;
   background: #192b3c;
}

.s-sidebar__trigger > i {
   display: inline-block;
   margin: 1.5em 0 0 1.5em;
   color: #f07ab0;
}

.s-sidebar__nav {
   position: fixed;
   /*top: 0;*/
   left: -15em;
   overflow: hidden;
   transition: all .3s ease-in;
   width: 15em;
   height: 100%;
   background: #fff;
   color: #004661;
   font-size: 16px;
   /*font-family: "Open Sans Condensed, Sans Serif";*/
}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
   left: 0;
}

.s-sidebar__nav ul {
   position: absolute;
   top: 4em;
   left: 0;
   margin: 0;
   padding: 0;
   width: 15em;
}

.s-sidebar__nav ul li {
   width: 100%;
}

.s-sidebar__nav-link {
   position: relative;
   display: inline-block;
   width: 100%;
   height: 2em;
}

.s-sidebar__nav-link span {
   position: absolute;
   top: 50%;
   left: 4em;
   transform: translateY(-50%);
}

.s-sidebar__nav-link:hover {
   background: #EFEFEF;
}

.s-sidebar__nav-link > i {
   position: absolute;
   top: 1em;
   left: 2em;
   display: inline-block;
   /*width: 4em;
   height: 4em;*/
}

.s-sidebar__nav-link > i::before {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

/* Mobile First */
@media (min-width: 42em) {
   .s-layout__content {
      margin-left: 4em;
   }

   /* Sidebar */
   .s-sidebar__trigger {
      width: 4em;
   }

   .s-sidebar__nav {
      width: 4em;
      left: 0;
   }

   .s-sidebar__nav:hover,
   .s-sidebar__nav:focus,
   .s-sidebar__trigger:hover + .s-sidebar__nav,
   .s-sidebar__trigger:focus + .s-sidebar__nav {
      width: 15em;
   }
}

@media (min-width: 68em) {
   .s-layout__content {
      margin-left: 15em;
   }

   /* Sidebar */
   .s-sidebar__trigger {
      display: none
   }

   .s-sidebar__nav {
      width: 15em;
   }

   .s-sidebar__nav ul {
      top: 1.3em;
   }
}




</style>
